@model SensorMobCRUD.Models.Measurment

@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form method="post" asp-controller="measurment" asp-action="add">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <input type="number" asp-for="Id" required="required" />
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" asp-for="Name" required="required" />
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="number" asp-for="Price" min="0" required="required" />
            </td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>
                <input type="number" asp-for="Quantity" min="0" required="required" />
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="checkbox" asp-for="Status" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

